body {
    background-color: #dfdfdf;
    font-family: 'Alegreya', serif;
    margin: 0;
}

.bar {
    text-transform: uppercase;
    background-color: gray;
    margin: 0;
    padding: 1px;
}

h1,
h2,
h4,
p {
    text-align: center;
}


h1 {
    color: whitesmoke;
    font-size: 40px;
}

img {
    display: block;
    width: 75%;
    border: 3px solid gray;
    margin: auto;
}

p {
    font-size: 18px;
    padding: 0 9%;
}

.col-3 p {
    text-align: justify;
}

.bar.grid {
    text-align: center;
    font-size: 32px;
    color: whitesmoke;
    font-weight: 600;
}



/* ----------------------------- */

.row {
    display: flex;
}

.col-1 {width: 8.33%;}

.col-2 {width: 16.66%;}

.col-3 {width: 25%;}

.col-4 {width: 33.33%;}

.col-5 {width: 41.66%;}

.col-6 {width: 50%;}

.col-7 {width: 58.33%;}

.col-8 {width: 66.66%;}

.col-9 {width: 75%;}

.col-10 {width: 83.33%;}

.col-11 {width: 91.66%;}

.col-12 {width: 100%;}
